.country-cls {
    margin-top: 20px;
}

.form-control {
    width: 80%;
}

.formContainer {
    margin: 40px auto;
    width: 40%;
}

.form-group label {
    margin-bottom: 15px;
}

.alert {
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.heading {
    text-align: center;
    padding-top: 20px;
}