.Container {
    .alert {
        width: 50%;
        margin: 30px auto;
        text-align: center;
    }
    .heading {
        text-align: center;
        padding-top: 20px;
    }
    .formContainer {
        margin: 40px auto;
        width: 40%;
    }
}